@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

/* Prevent dragging of images */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none; /* Optional: Prevents all mouse interactions */
}

/* Prevent dragging of background images specifically */
* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* Thin custom scrollbar */
.no-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #4f46e5 transparent;
}

.no-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.no-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}

.on-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
